.table-layout {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 30px;
    margin-top: 30px;
}

/* conteneur image */
.table-container {
    max-width: 600px; /* limite la taille */
}

#cellule {
    width: 100%;
    max-width: 600px;
    height: auto;
}

.table-container {
    position: relative;
}